<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To SwiftEssay</title>
</head>

<body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
        <tr>
            <td align="center" valign="top" style="padding: 20px;">
                <table width="70%" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    <tr>
                        <td style="padding: 50px;">
                            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 30px; margin-bottom: 20px;">Hello <%= username %>!</h1>
                            <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px; margin-bottom: 20px;">We are happy to have you on board.</p>
                            <img src="https://st.depositphotos.com/1024979/4415/i/450/depositphotos_44155621-stock-photo-welcome.jpg" alt="Embedded Image" style="display: block; width: 100%; max-width: 400px; height: auto; margin-bottom: 20px;">
                            <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px; margin-bottom: 20px;">Thank you for joining!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
