.sidenav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    color: #FFFF;
    background-color: #03264D;
    width: 20vw;
    height: 100vh;
}
.sidenav .sidenav-header{
    width: auto;
    display: flex;
    align-items: center;
}
.sidenav-header img{
    height: 50px;
}
.sidenav ul {
    margin-top: 40px;
}
.sidenav ul li{
    list-style: none;
    margin: 50px 0;
    cursor: pointer;
}
.sidenav-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    color: #FFFF;
    text-decoration-line: none;
}
.sidenav-link .icon{
    font-size: 20px;
    margin-right: 5px;
}
@media screen and (max-width:768px) {
    .sidenav{
        display: none !important;
        width: 0%;
    }
}