.dashboard-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
}
.dashboard-content-title{
    display: flex;
    width: 100%;
    padding: 0 25px;
    margin-bottom: 30px;
    align-items: flex-start;
}
.dashboard-content-cards{
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
    width: 100%;
}
.dashboard-content-cards .dashboard-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 22%;
    background-color: #FFFF;
    padding: 15px;
}
.dashboard-card .right-section{
    font-size: 50px;
    color: green;
}
.dashboard-card .right-section img{
    height: 60px;
    width: 60px;
}
.dashboard-content .tabs{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 95%;
}