.dashboard-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.dashboard-content-title{
    padding: 0 25px;
    margin-bottom: 20px;
}
.dashboard-content-cards{
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    width: 100%;
}
.dashboard-content-cards .dashboard-card{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 22%;
    background-color: #FFFF;
    padding: 30px;
}
.dashboard-card .right-section{
    font-size: 50px;
    color: green;
}
.dashboard-content .tabs{
    display: flex;
    height: auto;
    width: 100%;
}