.order-detail{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 30px;
    overflow-y: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  tr{
    height: 50px;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
  }

  .fixed-column {
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
  }
  
  .assign-form{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .assign-form .input-dropdown{
    width: 100%;
  }
  
 .btn{
  margin-top: 20px;
  color: #FFF;
  background-color: #03264D;
  padding: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 15% !important;
  border-radius: 5px;
 }